#calculator{
  width: 400px;
  height: 547px;
  padding: 5px 15px;
  border: 3px solid black;
  margin: auto;
}
/*.Screen{
  width: auto;
  height: 60px;
  border: 2px solid black;
}*/
input {
  margin: 7px;
  height: 70px;
  width: 378px;
  font-size: 50px;
}
.Button-row-1{
     display: flex;
     justify-content: center;
}
.button{
  width: 105px;
  height: 69px;
  margin: 3px;
}
